.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
  border: solid 2px black;
  padding: 10px;
  height: 133.4mm;
}

.subset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0.2cm;
}

.h-subset {
  display: flex;
  flex-direction: row;
  margin: 0.2cm 0 0 0;
}