.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
  border: solid 2px black;
  padding: 10px;
  height: 133.4mm;
  flex-shrink: 0;
  position: relative;
}

.subset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0.2cm;
}

.h-subset {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.2cm 0 0 0;
}

svg.screw {
  position: absolute;
  width: 3.2mm;
  height: 3.2mm;
  overflow: visible;
  left: 0.94mm;
}

.screw.top {
  top: 1.4mm;
}

.screw.bottom {
  bottom: 1.4mm;
}